<div class="row">
  <div class="span2"><%= post.created_time.day %> / <%= post.created_time.month %> / <%= post.created_time.year %></div>
  <div class="span10"><%= post.message %></div>
</div>
<!--
<div class="row">
  <div class="span10 offset2"><img src="http://www.brocoli.org/media/img/news/rainier-lericolais-rosa-lu.jpg"></div>
</div>
-->
